.adminPageWrapper {
  display: grid;
  grid-template:
    "adminHeader adminHeader adminHeader" 10vh
    "body body body" 80vh
    "adminFooter adminFooter adminFooter" 10vh/
    1fr 1fr 1fr;
}

.adminHeader {
  grid-area: adminHeader;
  background-color: black;
  text-align: center;
}

/* .body {
  grid-area: body;
  background-color: rgb(163, 104, 211);
} */

.adminFooter {
  grid-area: adminFooter;
  background-color: black;
}

.createButton {
  margin-right: 30px;
  width: 148 px;
  font-size: large;
  height: 26 px;

  color: black;
  cursor: pointer;
  margin-top: 33px;
}

.takeMeToTradeButton {
  width: 148 px;
  font-size: large;
  height: 26 px;

  color: black;
  cursor: pointer;
  margin-top: 33px;
}

.adminFooter {
  text-align: center;
}

.adminHomeButton {
  width: 148 px;
  font-size: large;
  height: 26 px;

  color: black;
  cursor: pointer;
  margin-top: 33px;
  margin-left: 20px;
}

.adminLogOutButton {
  width: 148 px;
  font-size: large;
  height: 26 px;

  color: black;
  cursor: pointer;
  margin-top: 33px;
  margin-right: 20px;
}

.createButton:hover,
.takeMeToTradeButton:hover,
.adminHomeButton:hover,
.adminLogOutButton:hover {
  color: red;
}

.adminInfo {
  color: white;
  margin-top: 10px;
}
