.adminPageWrapper {
  display: grid;
  grid-template:
    "adminHeader adminHeader adminHeader" 10vh
    "body body body" 80vh
    "adminFooter adminFooter adminFooter" 10vh/
    1fr 1fr 1fr;
}

.adminHeader {
  grid-area: adminHeader;
  background-color: black;
  text-align: center;
}

.adminFooter {
  grid-area: adminFooter;
  background-color: black;
}

.createButton {
  margin-right: 30px;
  font-size: large;
  height: 26 px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  width: 180px;
  height: 35px;
  background-color: rgb(226, 43, 226);
  border: none;
}

.takeMeToTradeButton {
  font-size: large;
  height: 26 px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  width: 220px;
  height: 35px;
  background-color: rgb(226, 43, 226);
  border: none;
}

.adminFooter {
  text-align: center;
}

.adminHomeButton {
  font-size: large;
  height: 26 px;
  color: black;
  cursor: pointer;
  margin-top: 33px;
  margin-left: 20px;
  width: 134px;
  height: 40px;
  background-color: rgb(226, 43, 226);
  border: none;
}

.adminLogOutButton {
  font-size: large;
  height: 26 px;
  color: black;
  cursor: pointer;
  margin-top: 33px;
  margin-right: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(226, 43, 226);
  border: none;
}

.createButton:hover,
.takeMeToTradeButton:hover,
.adminHomeButton:hover,
.adminLogOutButton:hover {
  color: white;
}

.adminInfo {
  color: white;
  margin-top: 10px;
}
