.nftImage {
  width: 300px;
}

.allnfts {
  display: inline-flex;
  /* justify-content: center;
  align-items: center; */
}

.nftCard {
  border: 1px solid white;
  /* display: -webkit-inline-box; */
  padding: 20px;
  margin: 20px;
  opacity: 0.5;
}
.nftCard:hover {
  border: 1px solid rgb(238, 14, 201);
  box-shadow: 3px 3px 3px 3px rgba(238, 14, 201, 0.404);
  opacity: 1;
}

.nftTitle,
.nftPrice,
.nftPrice {
  color: white;
}
